<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>JavaScriptChatGPTClone</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <!--<link rel="stylesheet" href="styles.css">-->
</head>
<body>

<section class="side-bar">
    <button>New chat</button>
    <div class="history"></div>
    <div class="nav">
        <p>Made by Rawl and VK</p>
    </div>

</section>
<section class="main">
    <h1>Botify</h1>
    <p id="output"></p>
    <div class="bottom-section">
        <div class="input-container">
            <input/>
            <div id="submit">➢</div>
        </div>
    </div>
    <p class="info">Chat GPT Mar 14 Version</p>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    const API_KEY = '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'
    const submitButton = document.querySelector('#submit')
    const outPutElement = document.querySelector('#output')
    const inputElement = document.querySelector('input')
    const historyElement = document.querySelector('.history')
    const buttonElement = document.querySelector('button')

    function changeInput(value){
        const inputElement = document.querySelector('input')
        inputElement.value = value;
    }

    async function getMessage(){

        $.ajax({
            url: '/getMessage',
            type: 'POST',
            data: { 'data': inputElement.value},
            success: function(response){
                outPutElement.textContent = response.content;
            },
            error: function(error){
                console.log(error);
            }
        });

        // out = fetch('/getMessage', {
        //     input: inputElement.textContent
        // })
        // .then(response=> response.text())
        // .then(result => {
        //     outPutElement.textContent = result
        // })
        // .catch(error=> {
        //     console.error(error);
        // });

        // console.log('clicked')
        // const options = {
        //     method: 'POST',
        //     headers: {
        //         'Authorization': `Bearer ${API_KEY}`,
        //         'Content-Type': 'application/json'

        //     },
        //     body: JSON.stringify({
        //         model: "gpt-3.5-turbo",
        //         messages: [{role: "user", content: inputElement.value}],
        //         max_tokens: 100
        //     })

        // }

        // try{
        //     const response = await fetch('https://api.openai.com/v1/chat/completions', options)
        //     const data = await response.json()
        //     console.log(data)

        //     if(inputElement.value == "How many liked songs do I have?"){
        //         fetch('/getTracks')
        //         .then(response => response.text())
        //         .then(result => {
        //             // Handle the result in JavaScript
        //             outPutElement.textContent = result
        //         })
        //         .catch(error => {
        //             // Handle any errors
        //             console.error(error);
        //         });
        //     }
        //     else{
        //         outPutElement.textContent = data.choices[0].message.content
        //     }
        
            

        if(outPutElement.textContent && inputElement.value){
            const pElement = document.createElement('p')
            pElement.textContent = inputElement.value
            pElement.addEventListener('click', () => changeInput(pElement.textContent))
            historyElement.append(pElement)
        }
        // } catch (error){
        //     console.error(error)
        // }
    }

    submitButton.addEventListener('click', getMessage)

    function clearInput(){
        inputElement.value = '';
    }
    buttonElement.addEventListener('click', clearInput)

</script>
</body>        
</html>
